@font-face {
  font-family: 'TAEBAEKfont';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/TAEBAEKfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body, html {
  font: 500 16px 'NanumSquare', Arial, sans-serif;
    color: #333333;
    background-color: #eeeeee;
    scroll-behavior: smooth;
}
h2 {
  font: bold 45px 'TAEBAEKfont','NanumSquare', sans-serif;
}
/* nav section */
.nav-btn {
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 999;
  outline: none;
  border: none;
  background: none;
  width: 30px;
  height: 30px;
  opacity: 0.4;
  transition: 200ms;
  cursor: pointer;
}
.nav-btn:hover {
  opacity: 1;
}
.nav-btn span {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 3px;
  background-color: #333333;
  transition: 400ms;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}
.nav-btn span:nth-child(2),
.nav-btn span:nth-child(3) {
  top: 10px;
}
.nav-btn span:nth-child(4) {
  top: 20px;
}
.nav-btn.active span:nth-child(1),
.nav-btn.active span:nth-child(4) {
  display: none;
}
.nav-btn.active span:nth-child(2) {
  transform: rotate(45deg);
}
.nav-btn.active span:nth-child(3) {
  transform: rotate(-45deg);
}
.navi {
  position: fixed;
  z-index: 777;
  top: 0;
  left: 0;
  width: 400px;
  background-color: #d9d9d9;
  padding-top: 200px;
  height: 100vh;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.6);
  margin-left: -100%;
  transition: 400ms;
  overflow: hidden;
}
.navi.active {
  margin: 0;
}
.navi a {
  display: block;
  margin-left: 110px;
  font-size: 28px;
  text-decoration: none;
  color: #333333;
  font-weight: 700;
  line-height: 60px;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  transition: 300ms;
}
.navi a:hover {
  color: #ff9809;
}
/* intro section */
.intro {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}
.intro h1 {
  font: bold 100px 'TAEBAEKfont','NanumSquare', sans-serif;
  text-align: center;
  display: block;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 300ms;
  text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
}
.intro h1:hover {
  text-shadow: 0px 0px 40px rgba(255, 111, 0, 0.3);
}
.intro h1 span {
  font: bold 60px 'NanumSquare', Arial, sans-serif;
  display: block;
  text-align: left;
  color: #888888;
}
/* about section */
.about {
  margin: 120px auto;
  max-width: 1400px;
  min-width: 1200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
  padding: 5px;
}
.about-left {
  width: 760px;
  transition: 600ms;
}
.about-left h2 {
  margin-bottom: 20px;
}
.about-left > p {
  font-size: 22px;
  line-height: 32px;
}
.about-left > p span {
  color: #ff9809;
}
.person {
  margin-top: 30px;
  font-size: 20px;
  line-height: 36px;
}
.person tr td:first-child {
  font-weight: 700;
  width: 160px;
}
.person tr td:last-child p {
  display: flex;
}
.person span {
  margin-left: 20px;
}
.person i {
  display: block;
  line-height: 32px;
}
.about-right {
  width: 410px;
  height: 530px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
  transition: 600ms;
}
.about-right img {
  object-fit: cover;
  object-position: center;
}
.about-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  transition: 600ms;
}
.bottom-items {
  width: 45%;
  border-radius: 30px 0 30px 0;
  border: 2px solid #888888;
  padding: 20px;
}
.bottom-items h3 {
  text-align: center;
  color: #ff9809;
  font-size: 28px;
  font-weight: 700;
  line-height: 50px;
}
.bottom-items ul {
  font-size: 20px;
  margin-top: 30px;
}
.bottom-items ul li {
  display: flex;
  justify-content: space-between;
  line-height: 40px;
}
/* graphic design section */
.design {
  width: 1500px;
  margin: 300px auto;
}
.design h2 {
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 60px;
  display: inline-block;
  background:linear-gradient(
    to bottom, 
    transparent 50%,
    #ff9809 50%
  )
}
.gd-cons {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.gd-con {
  position: relative;
  overflow: hidden;
  transition: 300ms;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
}
.gd-con > img {
  transition: 300ms;
  cursor: pointer;
}
.gd-con > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: grayscale(0.5);
}
.gd-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}
.gd-popup img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1080px;
  transform: translate(-50%, -50%);
}
.gd-popup.active {
  display: block;
}
.popup-btn {
  z-index: 999;
  outline: none;
  border: none;
  background: none;
  width: 30px;
  height: 30px;
  opacity: 0.4;
  transition: 200ms;
  cursor: pointer;
  position: fixed;
  top: 50px;
  right: 50px;
}
.popup-btn span {
  position: absolute;
  top: 50px;
  right: 50px;
  background-color: #ffffff;
  border-radius: 2px;
  width: 30px;
  height: 3px; 
  display: block;
}
.popup-btn > span:first-child {
  transform: rotate(45deg);
}
.popup-btn > span:last-child {
  transform: rotate(-45deg);
}
/* gd-con hover event */
.gd-con:hover {
  border-radius: 30px;
  box-shadow: 0 0 16px #ff9809a4;
}
.gd-con:hover > img {
  transform: scale(1.2);
  filter: grayscale(0);
}
.popup-btn:hover {
  opacity: 1;
}
/* website publishing section */
.web-pub {
  width: 1500px;
  margin: 300px auto;
}
.web-pub h2 {
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 60px;
  display: inline-block;
  background:linear-gradient(
    to bottom, 
    transparent 50%,
    #ff9809 50%
  )
}

.web-content {
  display: flex;
}
input[name=website] {
  display: none;
}
.con-btn {
  flex: 1;
}
.con-btn label {
  width: 200px;
  font-size: 24px;
  font-weight: 700;
  line-height: 2em;
  border-radius: 10px;
  transition: 300ms;
  display: block;
  padding: 0 15px;
  margin: 20px 0;
}
.con-btn label:hover {
  background-color: #333333;
  color: #ffffff;
}
.web-tabs {
  width: 100%;
  flex: 3;
  position: relative;
}
.web-tab {
  position: absolute;
  top: 0;
  left: 0;
  transition: 500ms;
  visibility: hidden;
  opacity: 0;
}
.tab-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.tab-photo {
  width: 500px;
  height: 400px;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.1);
}
.tab-photo img {
  object-fit: cover;
  object-position: top;
  width: inherit;
  height: inherit;
  transition: 4000ms;
  cursor: pointer;
}
.tab-photo img:hover {
  object-position: bottom;
}
.tab-con h3 {
  font-size: 30px;
  font-weight: 700;
}
.tab-text {
  margin-top: 30px;
  line-height: 3em;
  font-size: 18px;
  font-weight: 700;
}
.tab-text td:last-child {
  color: #666666;
  padding-left: 20px;
}
.tab-con a {
  width: 150px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  line-height: 2em;
  border-radius: 5px;
  border: 1px solid #333333;
  display: block;
  transition: 300ms;
  margin-top: 20px;
}
.tab-con a:hover {
  background-color: #333333;
  color: #ffffff;
}
input[id=web-btn1]:checked ~ .con-btn label[for=web-btn1],
input[id=web-btn2]:checked ~ .con-btn label[for=web-btn2],
input[id=web-btn3]:checked ~ .con-btn label[for=web-btn3],
input[id=web-btn4]:checked ~ .con-btn label[for=web-btn4] {
  background-color: #333333;
  color: #ffffff;
}
input[id=web-btn1]:checked ~ .web-tabs .web-tab:nth-child(1),
input[id=web-btn2]:checked ~ .web-tabs .web-tab:nth-child(2),
input[id=web-btn3]:checked ~ .web-tabs .web-tab:nth-child(3),
input[id=web-btn4]:checked ~ .web-tabs .web-tab:nth-child(4) {
  visibility: visible;
  opacity: 1;
}
/* epilogue section */
.epilogue {
  width: 100vw;
  background-color: #666666;
  padding: 100px 0;
  margin-top: 200px;
}
.epilogue p {
  color: #eeeeee;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.6em;
  text-align: center;
}
.epilogue span {
  color: #ff9809;
}
