html, body {
    background-color: #ffffff;
    font: 500 18px 'NanumSquare', Arial, sans-serif;
    color: #333333;
}
 a {
     text-decoration: none;
     color: inherit;
 }
#nav {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}
#nav > h1 {
    width: 200px;
}
#nav > h1 > a {
    display: block;
    width: 130px;
}
#nav > h1 > a > img {
    width: 100%;
    object-fit: cover;
}
#nav-left {
    width: 800px;
    line-height: 80px;
    display: flex;
    justify-content: center;
}
#nav-left > li {
    text-align: center;
}
#nav-left > li > a {
    color: #333333;
    padding: 0 14px;
    border-right: 1px solid #333333;
}
#nav-left > li:last-child > a {
    border-right: none;
}
#nav-left > li:hover > a {
    color: #a91e36;
}
#nav-right {
    width: 200px;
    display: flex;
    justify-content: flex-end;
}
#nav-right > li {
    line-height: 80px;
}
#nav-right > li > a {
    padding: 0 14px;
    color: #333333;
}
#nav-right > li > a:hover {
    color: #a91e36;
}
#nav-right > li:first-child > a {
    border-right: 1px solid #333333;
}


#title {
    width: 100%;
    margin: 0 auto;
    background-color: #a91e36;
    padding: 40px 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}
#title > h1 {
    margin: 0 auto;
    text-align: center;
    color: #ebc429;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    font: bold 75px 'Giants-Bold','NanumSquare', sans-serif;
}
#title > p {
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
}
#contents {
    width: 1200px;
    margin: 80px auto;
}
#contents > form {
    display:flex;
    flex: row nowrap;
    justify-content: flex-end;
    line-height: 40px;
}
#contents > form > select {
    width: 110px;
    border-radius: 0;
    border: 1px solid #888888;
    outline: none;
    line-height: 30px;
    margin: 0 20px;
    padding: 5px;
    appearance: none;
    background:url(../images/select.png) no-repeat right 10px center;
}
#contents > form > select > option {
    color: #888888;
}
.search {
    width: 220px;
    display: flex;
    border: 1px solid #888888;
}
.search:hover {
    border: 1px solid #333333;
}
.search > input[type="text"] {
    position: relative;
    width: 100%;
    height: 40px;
    border: none;
    padding-left: 10px;
    background-color: #ffffff;
}
.search > input[type="text"]:focus {
    outline: none;
    background-color: #ffffff;
    transition-duration: 200ms;
}
.search > button {
    float: right;
    width: 50px;
    background: none;
    border: none;
}
.search > button > img {
    opacity: 0.2;
}
.search:hover > button > img {
    opacity: 0.7;
}





#contents-table {
    width: 1200px;
    text-align: center;
    line-height: 70px;
    margin: 40px auto;
}
#contents-table > thead {
    border-top: 2px solid #ebc429;
    border-bottom: 2px solid #ebc429;
    font-weight: 700px;
}
tbody > tr {
    border-bottom: 1px solid #888888;
}
tbody > tr > td {
    width: 200px;
}
tbody > tr > td:first-child {
    width: 800px;
    text-align: left;
    padding: 0 20px;
}
#count {
    margin: 40px auto;
    display: flex;
    justify-content: center;
}
#count > li {
    width: 40px;
    border: 1px solid #888888;
    border-radius: 5px;
    line-height: 40px;
    text-align: center;
    margin: 0 3px;
}
#count > li:nth-child(2){
    margin-right: 20px;
}
#count > li:nth-child(12){
    margin-left: 20px;
}
#count > li > button {
    border: none;
    width: 100%;
    height: 100%;
}
#count > li > button > img {
    width: 21px;
    height: 26px;
}
#count > li > button > span {
    display: none;
}
#count > li:nth-child(1) > button {
    background: url(../images/left-dbbutton.png) center no-repeat;
}
#count > li:nth-child(2) > button {
    background: url(../images/left-button.png) center no-repeat;
}
#count > li:nth-child(12) > button {
    background: url(../images/right-button.png) center no-repeat;
}
#count > li:nth-child(13) > button {
    background: url(../images/right-dbbutton.png) center no-repeat;
}
#count > li.on {
    color: #ebc429;
    border: 1px solid #ebc429;
}




#footer {
    width: 100%;
    margin-top: 80px;
    margin: 0 auto;
    background-color: hsl(350, 70%, 39%);
}
#footer > ul {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #3e0206;
    display: flex;
    justify-content: center;
}
#footer > ul > li {
    color: #d9d9d9;
    line-height: 80px;
}
#footer > ul > li > a {
    padding: 0 14px;
    border-right: 1px solid #d9d9d9;
}
#footer > ul > li > a:hover {
    color: #ebc429;
}
#footer > ul > li:last-child > a {border-right: 0;}
#footer-wrap {
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 20px;
}
#footer-wrap > p {
    text-align: center;
    color: #d9d9d9;
    padding: 0 210px;
    line-height: 20px;
}
#footer-wrap > ul {
    width: 1200px;
    margin: 10px auto;
    text-align: center;
    display: flex;
    justify-content: center;
}
#footer-wrap > ul > li {
    padding: 0 12px;
    color: #d9d9d9;
    text-align: center;
    border-right: 1px solid #d9d9d9;
}
#footer-wrap > ul > li:last-child {
    border-right: 0;
}
#footer-wrap > span {
    width: 1200px;
    text-align: center;
    color: #d9d9d9;
    font-size: 12px;
    display: inline-block;
}
