body, html {
  color: #333333;
  background-color: #ffffff;
  font: 500 16px 'NanumSquare', Arial, sans-serif;
  min-width: 1200px;
}
a {
  color: inherit;
  text-decoration: none;
}
#header {
  background:#000000;
}
.header-up {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: flex-end;
  padding: 2.5px 0;
}
.header-up a img {
  width: 35px;
  opacity: 0.6;
  transition: 200ms;
  padding: 0 5px;
}
.header-up a img:hover {
  opacity: 1;
}
.cart {
  position: relative;
}
.cart:before {
  content: attr(data-cart);
  background:#666666;
  border-radius: 50%;
  position: absolute;
  right: 0;
  height: 18px;
  width: 18px;
  top: 0;
  z-index: 999;
  font-size: 10px;
  color: #ffffff;
  text-align: center;
  line-height: 18px;
}
.header-down {
  padding: 0 5vw;
  margin: 0 auto;
  background-color: #61074f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-down > ul {
  line-height: 50px;
  display: flex;
  justify-content: center;
}
.header-down > ul > li {
  font-weight: 500;
  padding: 0 10px;
  text-align: center;
  position: relative;
  transition: 200ms;
}
.header-down ul li a {
  transition: 200ms;
  color: #c1c1c1;
}
.header-down > ul > li:hover > ul {
  display: block;
}
.header-down ul li:hover a {
  color: #ffffff;
}
.tab-menu {
  width: 100%;
  line-height: 40px;
  position: absolute;
  top: 50px;
  left: 0;
  background-color: #61074f;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  display: none;
  z-index: 22;
}
.tab-menu li {
  transition: 200ms;
  color: #c1c1c1;
}
.tab-menu li:hover {
  color: #ffffff;
}
.search-box {
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #ffffff;
  padding: 0 5px;
}
.search-text {
  border: none;
  background: none;
  outline: none;
}
.search-btn {
  color: #333333;
  width: 25px;
  height: 25px;
  border: none;
  outline: none;
  background: white;
  cursor: pointer;
}
/* header section */
#order-wrap {
  width: 1200px;
  margin: 40px auto;
  display: flex;
  position: relative;
  justify-content: space-around;
}
#order-wrap i {
  position: absolute;
  top: 0px;
  left: 50px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.left {
  width: 600px;
}
.left img {
  width: 100%;
}
.right {
  width: calc(100% - 650px);
  padding: 2%;
}
.top h1{
  font-family: 'TAEBAEKfont', Arial, sans-serif;
  font-size: 25px;
} 
.top > p {
  line-height: 60px;
  font-size: 25px;
  font-weight: 700;
}
.top > span {
  color: #666666;
  display: block;
  line-height: 24px;
}
.top dl {
  display: flex;
  flex-flow: row wrap;
  margin: 20px 0;
  font-size: 14px;
  line-height: 25px;

}
.top dl dt {
  width: 30%;
  font-weight: 700;
  color: #666666;
}
.top dl dd {
  width: 70%;
}
.frame {
  padding-top: 30px;
  border-top: 1px solid #dcdcdc;
}
.frame label {
  font-size: 14px;
  font-weight: 700;
}
.frame label span {
  font-size: 12px;
  font-weight: 400;
  display: block;
  line-height: 25px;
}
.frame select {
  width: 200px;
  height: 30px;
  padding: 0 5px;
}
.total-price {
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  padding: 30px 0;
  color: black;
  margin-top: 30px;
  font-size: 14px;
}
.result-price {
  font-size: 20px;
  font-weight: 700;
}
.result-price span {
  font-size: 10px;
  font-weight: 400;
  color: #666666;
}
.bottom {
  margin-top: 30px;
  display: flex;
}
.bottom button {
  font-size: 12px;
  width: 50%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #c1c1c1;
  border: 1px solid #c1c1c1;
  margin: 0 10px;
  transition: 200ms;
}
#order-btn {
  background-color: black;
  color: #ffffff;
  border: none;
}
.bottom button:hover {
  background-color: #ffffff;
  border: 2px solid black;
}
#order-btn:hover {
  background-color: #ffffff;
  border: 2px solid black;
  color: #333333;
}

